*{
	box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: "Montserrat", sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    background-color: #000;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.container {
    width: 1000px;
    margin: 0 auto;
}

.container .navigation{
    padding: 60px 0px 40px 0px;
    border-bottom: 1px solid red;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000;
}

.container .navigation .wrapper{
    display: flex;
    justify-content: center;
}

.container .navigation .wrapper .text{
    font-size: 25px;
    text-decoration: none;
    color: #fff;
    margin-right: 30px;
}

.container .navigation .wrapper .hide{
    display: none;
}

.container .navigation .wrapper .show:hover > .hide{
    display: block;
}

.container .navigation .wrapper .hide{
    position: absolute;
    top: 70%;
    background-color: #000;
}

.container .navigation .wrapper .hide .first{
    margin-top: 20px;
}

.container .navigation .wrapper .hide .hoverText{
    color: #fff;
    text-decoration: none;
    font-size: 25px;
}

.container .navigation .wrapper .hide li{
    margin-bottom: 35px;
}

.container .navigation .wrapper .hide .hoverText:hover{
    border-top: 3px solid #ff1500;
}

.container .navigation .wrapper .text:hover{
    border-top: 3px solid #ff1500;
}

.container .navigation .wrapper .works{
    color: #ff1500;
}

.container .navigation .wrapper .works:hover{
    color: #fff;
}

.get{
    padding: 150px 0px 105px 0px;
}

.get .container .touch .title{
    color: #fff;
    text-align: center;
    font-size: 30px;
}

.get .container .touch .line{
    display: block;
    margin: 0 auto 105px auto;
    background-color: #ff1500;
    height: 2px;
    width: 175px;
    margin-bottom: 37px;
}

.get .container .box .form{
   width: 70%;
   padding: 15px 15px 15px 12px;
   margin-bottom: 16px;
   font-size: 20px;
}

.get .container .box .form:hover{
    border-color: blue;
}

.get .container .box select{
    width: 70%;
    font-size: 20px;
    margin-bottom: 16px;
    padding: 15px 45px 15px 12px;
}

.get .container .box select:hover{
    border-color: blue;
}

.get .container .box textarea{
    width: 70%;
    font-size: 20px;
    padding: 15px 10px 3px 16px;
    margin-bottom: 16px;
}

.get .container .box textarea:hover{
    border-color: blue;
}

.get .container .box .submit{
    width: 100px;
    font-size: 15px;
    background-color: #fff;
    width: 131px;
    height: 46px;
    cursor: pointer;
}

.get .container .box .submit:hover{
    color: #fff;
    transition: 0.5s;
    border-color: none;
    background-color: #ff1500;
}

.copyright{
    padding: 11px 0px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #000;
    border-top: 1px solid red;
}

.copyright .container .wrapper{
    display: flex;
}

.copyright .container .wrapper .left{
    width: 50%;
}

.copyright .container .wrapper .left .text{
    font-size: 13px;
    color: #fff;
    line-height: 25px;
    margin-bottom: 40px;
}

.copyright .container .wrapper .left .links{
    color: #fff;
    font-size: 13px;
    cursor: pointer;
}

 .copyright .container .wrapper .left .first{
    margin-right: 18px;
}

 .copyright .container .wrapper .right{
    width: 50%;
    padding-top: 10px;
}
.copyright .container .wrapper .right .wrapperBox{
    display: flex;
    align-items: center;
}

.copyright .container .wrapper .right .wrapperBox  .margin{
    margin: 0px 20px 0px 80px;
    cursor: pointer;
}

.copyright .container .wrapper .right .wrapperBox .marg{
    margin-right: 30px;
    cursor: pointer;
}

.copyright .container .wrapper .right .wrapperBox .instagram{
    margin-right: 18px;
}

@media(max-width: 1100px){
    .container{
        width: 900px;
    }
}

@media(max-width: 900px){
    .container{
        padding: 0 20px;
        width: 100%;
    }
    .container .navigation .wrapper{
        display: none;
    }
    .get .container form .box .form{
        margin: 0 auto 30px auto;
        display: block; 
    }
    .get .container form .box select{
        margin: 0 auto 30px auto;
        display: block;
    }
    .get .container form .box textarea{
        margin: 0 auto 30px auto;
        display: block;
    }
    .get .container form .box .submit{
        margin: 0 auto;
        display: block;
    }
    .copyright .container .wrapper{
        flex-wrap: wrap;
    }
    .copyright .container .wrapper .left{
        width: 100%;
    }
    .copyright .container .wrapper .text{
        text-align: center;
    }
     .copyright .wrapper .box{
        text-align: center;
    }
    .copyright .wrapper .right{
        margin: 0 auto;
    }
     .copyright .wrapper .right .wrapperBox .box{
        margin: 0 auto;
    }
     .copyright .container .wrapper .right .wrapperBox .instagram{
        margin-right: 0px;
    }
     .copyright .container .wrapper .right .wrapperBox .margin{
        margin: 0px;
    }
     .copyright .container .wrapper .right .wrapperBox .marg{
        margin: 0px;
    }
}

@media(max-width: 320px){
    .copyright .container .wrapper .right{
        width: 100%;
    }
}