*{
	box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: "Montserrat", sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    background-color: #000;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.container {
    width: 1000px;
    margin: 0 auto;
}

.container .navigation{
    padding: 60px 0px 40px 0px;
    border-bottom: 1px solid red;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000;
}

.container .navigation .wrapper{
    display: flex;
    justify-content: center;
}

.container .navigation .wrapper .text{
    font-size: 25px;
    text-decoration: none;
    color: #fff;
    margin-right: 30px;
}

.container .navigation .wrapper .hide{
    display: none;
}

.container .navigation .wrapper .show:hover > .hide{
    display: block;
}

.container .navigation .wrapper .hide{
    position: absolute;
    top: 70%;
    background-color: #000;
}

.container .navigation .wrapper .hide .first{
    margin-top: 20px;
}

.container .navigation .wrapper .hide .hoverText{
    color: #fff;
    text-decoration: none;
    font-size: 25px;
}

.container .navigation .wrapper .hide li{
    margin-bottom: 35px;
}

.container .navigation .wrapper .hide .hoverText:hover{
    border-top: 3px solid #ff1500;
}

.container .navigation .wrapper .text:hover{
    border-top: 3px solid #ff1500;
}

.container .navigation .wrapper .shop{
    color: #ff1500;
}

.container .navigation .wrapper .shop:hover{
    color: #fff;
}

.gallery{
    padding-bottom: 73px;
    margin-top: 126px;
}

.gallery .wrapper{
    display: flex;
}

.gallery .wrapper .container .line{
    background-color: #ff1500;
    display: block;
    height: 8px;
    margin: 140px auto 0 auto;
    width: 386px;
}

.gallery .wrapper .container .margin{
    margin: 80px auto 60px auto;
}

.gallery .wrapper .container .title{
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    margin-top: 90px;
}

.gallery .wrapper .container .shop{
    display: block;
    margin: 0 auto;
    background-color: #000;
    cursor: pointer;
    border: none;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
}

.gallery .wrapper .container .shop:hover{
    color: #ff1500;
    transition: 0.5s;
}

.copyright{
    padding: 11px 0px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #000;
    border-top: 1px solid red;
}

.copyright .container .wrapper{
    display: flex;
}

.copyright .container .wrapper .left{
    width: 50%;
}

.copyright .container .wrapper .left .text{
    font-size: 13px;
    color: #fff;
    line-height: 25px;
    margin-bottom: 40px;
}

.copyright .container .wrapper .left .links{
    color: #fff;
    font-size: 13px;
    cursor: pointer;
}

 .copyright .container .wrapper .left .first{
    margin-right: 18px;
}

 .copyright .container .wrapper .right{
    width: 50%;
    padding-top: 10px;
}
.copyright .container .wrapper .right .wrapperBox{
    display: flex;
    align-items: center;
}

.copyright .container .wrapper .right .wrapperBox  .margin{
    margin: 0px 20px 0px 80px;
    cursor: pointer;
}

.copyright .container .wrapper .right .wrapperBox .marg{
    margin-right: 30px;
    cursor: pointer;
}

.copyright .container .wrapper .right .wrapperBox .instagram{
    margin-right: 18px;
}

.modal{
    background-color: #fff;
    width: 630px;
    height: 460px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hey{
    text-transform: uppercase;
    color: #2a2a2a;
    font-size: 61px;
    margin: 73px 0px 0px 60px;
    font-weight: 600;
}

.you{
    text-transform: uppercase;
    color: #2a2a2a;
    font-size: 61px;
    margin: 12px 0px 0px 60px;
    font-weight: 600;
}

.redLine{
    display: block;
    background-color: #ff1500;
    height: 8px;
    width: 50px;
    margin: 40px 0px 0px 60px;
}

.get{
    font-size: 18px;
    margin: 30px 0px 8px 60px;
}

.of{
    font-size: 18px;
    margin-left: 60px;
}

.policies{
    font-size: 10px;
    margin: 30px 0px 0px 60px;
}

.store{
    color: #4757f5;
    text-decoration: underline;
    cursor: pointer;
}

.img{
    width: 350px;
    height: 375px;
    position: absolute;
    right: 0%;
    top: 70px;
}

.btnShop{
    text-transform: uppercase;
    cursor: pointer;
    color: #fff;
    background-color: #000;
    border: none;
    font-size: 15px;
    padding: 15px 80px;
    transition: 0.5s;
    margin: 30px 0px 0px 60px;
}

.btnShop:hover{
    background-color: #3d3d3d;
    transition: 0.5s;
}

@media(max-width: 1600px){
    .gallery .wrapper{
        flex-wrap: wrap;
        padding: 100px 0px;
    }
    .gallery .wrapper .box{
        width: 100%;
    }
    .gallery .wrapper .box img{
       margin: 0 auto;
       display: block;
    }
    .gallery .wrapper .container .title{
        margin-top: 25px;
    }
    .gallery .wrapper .container .line{
        margin-top: 20px;
    }
    .gallery .wrapper .container .shop{
        margin-bottom: 20px;
    }
}

@media(max-width: 1100px){
    .container{
        width: 900px;
    }
}

@media(max-width: 900px){
    .container{
        width: 100%;
        padding: 0 20px;
    }
    .container .navigation .wrapper{
        display: none;
    }
    .gallery .wrapper .box .image{
        padding-bottom: 110px;
    }
    .copyright .container .wrapper{
        flex-wrap: wrap;
    }
    .copyright .container .wrapper .left{
        width: 100%;
    }
    .copyright .container .wrapper .text{
        text-align: center;
    }
     .copyright .wrapper .box{
        text-align: center;
    }
    .copyright .wrapper .right{
        margin: 0 auto;
    }
     .copyright .wrapper .right .wrapperBox .box{
        margin: 0 auto;
    }
     .copyright .container .wrapper .right .wrapperBox .instagram{
        margin-right: 0px;
    }
     .copyright .container .wrapper .right .wrapperBox .margin{
        margin: 0px;
    }
     .copyright .container .wrapper .right .wrapperBox .marg{
        margin: 0px;
    }
}

@media(max-width: 500px){
    .gallery .wrapper .box img{
        width: 100%;
    }
    .gallery .wrapper .container .line{
        width: 100%;
    }
}

@media(max-width: 320px){
    .copyright .container .wrapper .right{
        width: 100%;
    }
}